<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DanLi.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE44F84F1EEA7DC00045C5AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE44F8681EEA7DC00045C5AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE44F8731EEA7DC00045C5AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
